<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>breve_acute.uc</key>
    <string>breve_acute.uc.glif</string>
    <key>breve_grave.uc</key>
    <string>breve_grave.uc.glif</string>
    <key>breve_tilde.uc</key>
    <string>breve_tilde.uc.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.proportional</key>
    <string>cedi.proportional.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>cent.altprop</key>
    <string>cent.altprop.glif</string>
    <key>cent.proportional</key>
    <string>cent.proportional.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex_acute.uc</key>
    <string>circumflex_acute.uc.glif</string>
    <key>circumflex_grave.uc</key>
    <string>circumflex_grave.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>circumflex_tilde.uc</key>
    <string>circumflex_tilde.uc.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis.uc</key>
    <string>dieresis.uc.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight.den</key>
    <string>eight.den.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.lintab</key>
    <string>eight.lintab.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>eight.oldtab</key>
    <string>eight.oldtab.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.lintab</key>
    <string>five.lintab.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>five.oldtab</key>
    <string>five.oldtab.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four.linprop</key>
    <string>four.linprop.glif</string>
    <key>four.lintab</key>
    <string>four.lintab.glif</string>
    <key>four.midprop</key>
    <string>four.midprop.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>four.oldtab</key>
    <string>four.oldtab.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.uc</key>
    <string>grave.uc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.uc</key>
    <string>hungarumlaut.uc.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icaron</key>
    <string>icaron.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idieresisacute</key>
    <string>idieresisacute.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>lira.altprop</key>
    <string>lira.altprop.glif</string>
    <key>lira.proportional</key>
    <string>lira.proportional.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.lintab</key>
    <string>nine.lintab.glif</string>
    <key>nine.midprop</key>
    <string>nine.midprop.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.lintab</key>
    <string>one.lintab.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>one.oldtab</key>
    <string>one.oldtab.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ring.uc</key>
    <string>ring.uc.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>seven.midprop</key>
    <string>seven.midprop.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>sterling.altprop</key>
    <string>sterling.altprop.glif</string>
    <key>sterling.proportional</key>
    <string>sterling.proportional.glif</string>
    <key>thai:baht</key>
    <string>thai_baht.glif</string>
    <key>thai:baht.proportional</key>
    <string>thai_baht.proportional.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.midprop</key>
    <string>three.midprop.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>three.oldtab</key>
    <string>three.oldtab.glif</string>
    <key>tilde.uc</key>
    <string>tilde.uc.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.den</key>
    <string>two.den.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>two.midprop</key>
    <string>two.midprop.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>two.oldtab</key>
    <string>two.oldtab.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>uni20B8</key>
    <string>uni20B_8.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.oldtab</key>
    <string>zero.oldtab.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
  </dict>
</plist>
