<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>baht.proportional</key>
    <string>baht.proportional.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
