<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.uc</key>
    <string>at.uc.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero.den</key>
    <string>zero.den.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
  </dict>
</plist>
