<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex_hook</key>
    <string>circumflex_hook.glif</string>
    <key>circumflex_hook.uc</key>
    <string>circumflex_hook.uc.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>four.den</key>
    <string>four.den.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>hook.uc</key>
    <string>hook.uc.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>one.den</key>
    <string>one.den.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus.sub</key>
    <string>plus.sub.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>six.den</key>
    <string>six.den.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero.den</key>
    <string>zero.den.glif</string>
    <key>zero.midprop</key>
    <string>zero.midprop.glif</string>
  </dict>
</plist>
