<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Ehookabove</key>
    <string>E_hookabove.glif</string>
    <key>Ehookabove.alt</key>
    <string>E_hookabove.alt.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.proportional</key>
    <string>E_uro.proportional.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Ihookabove</key>
    <string>I_hookabove.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pcircle</key>
    <string>P_circle.glif</string>
    <key>Pcircle.copy_1</key>
    <string>P_circle.copy_1.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>SS</key>
    <string>S_S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.pl</key>
    <string>acute.pl.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>acute.ucpl</key>
    <string>acute.ucpl.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal.lin</key>
    <string>approxequal.lin.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.uc</key>
    <string>at.uc.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>baht.proportional</key>
    <string>baht.proportional.glif</string>
    <key>blackdiamond</key>
    <string>blackdiamond.glif</string>
    <key>blackdownpointingtriangle</key>
    <string>blackdownpointingtriangle.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.uc</key>
    <string>bracketleft.uc.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve_acute</key>
    <string>breve_acute.glif</string>
    <key>breve_grave</key>
    <string>breve_grave.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>breve_hook.uc</key>
    <string>breve_hook.uc.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>breveinverted</key>
    <string>breveinverted.glif</string>
    <key>breveinverted.uc</key>
    <string>breveinverted.uc.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.proportional</key>
    <string>cedi.proportional.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>cent.altprop</key>
    <string>cent.altprop.glif</string>
    <key>circumflex_acute</key>
    <string>circumflex_acute.glif</string>
    <key>circumflex_grave</key>
    <string>circumflex_grave.glif</string>
    <key>circumflex_grave.uc</key>
    <string>circumflex_grave.uc.glif</string>
    <key>circumflex_hook</key>
    <string>circumflex_hook.glif</string>
    <key>circumflex_hook.uc</key>
    <string>circumflex_hook.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis_caron</key>
    <string>dieresis_caron.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divide.lin</key>
    <string>divide.lin.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>dong.proportional</key>
    <string>dong.proportional.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelow</key>
    <string>dotbelow.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lin</key>
    <string>eight.lin.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.old</key>
    <string>eight.old.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.lin</key>
    <string>equal.lin.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>fi.alt.copy_1</key>
    <string>fi.alt.copy_1.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.lin</key>
    <string>five.lin.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.old</key>
    <string>five.old.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>florin.proportional</key>
    <string>florin.proportional.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lin</key>
    <string>four.lin.glif</string>
    <key>four.old</key>
    <string>four.old.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greater.lin</key>
    <string>greater.lin.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>greaterequal.lin</key>
    <string>greaterequal.lin.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guarani.proportional</key>
    <string>guarani.proportional.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>heartsuitwhite</key>
    <string>heartsuitwhite.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>hook.uc</key>
    <string>hook.uc.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.uc</key>
    <string>hungarumlaut.uc.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>kip.proportional</key>
    <string>kip.proportional.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less.lin</key>
    <string>less.lin.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lessequal.lin</key>
    <string>lessequal.lin.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>lira.altprop</key>
    <string>lira.altprop.glif</string>
    <key>lira.proportional</key>
    <string>lira.proportional.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>liraTurkish.proportional</key>
    <string>liraT_urkish.proportional.glif</string>
    <key>literSign</key>
    <string>literS_ign.glif</string>
    <key>litre</key>
    <string>litre.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>minus.lin</key>
    <string>minus.lin.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.lin</key>
    <string>multiply.lin.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>naira.proportional</key>
    <string>naira.proportional.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>nine.lin</key>
    <string>nine.lin.glif</string>
    <key>nine.old</key>
    <string>nine.old.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>notequal.lin</key>
    <string>notequal.lin.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ohm</key>
    <string>ohm.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.uc</key>
    <string>parenleft.uc.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>periodcentered.uc</key>
    <string>periodcentered.uc.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>peso.proportional</key>
    <string>peso.proportional.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus.lin</key>
    <string>plus.lin.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring.uc</key>
    <string>ring.uc.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>rupeeIndian.proportional</key>
    <string>rupeeI_ndian.proportional.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lin</key>
    <string>seven.lin.glif</string>
    <key>seven.old</key>
    <string>seven.old.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>slash.uc</key>
    <string>slash.uc.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>sterling.altprop</key>
    <string>sterling.altprop.glif</string>
    <key>sterling.proportional</key>
    <string>sterling.proportional.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.lin</key>
    <string>three.lin.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.old</key>
    <string>three.old.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>three.prop</key>
    <string>three.prop.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two.lin</key>
    <string>two.lin.glif</string>
    <key>two.old</key>
    <string>two.old.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>uni20B4.proportional</key>
    <string>uni20B_4.proportional.glif</string>
    <key>uni25B9</key>
    <string>uni25B_9.glif</string>
    <key>uni25BF</key>
    <string>uni25B_F_.glif</string>
    <key>uni27F7</key>
    <string>uni27F_7.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>verticallinelowmod</key>
    <string>verticallinelowmod.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>whitedownpointingtriangle</key>
    <string>whitedownpointingtriangle.glif</string>
    <key>whiterightpointingtriangle</key>
    <string>whiterightpointingtriangle.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>won.proportional</key>
    <string>won.proportional.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.proportional</key>
    <string>yen.proportional.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.lin</key>
    <string>zero.lin.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.prop</key>
    <string>zero.prop.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
  </dict>
</plist>
