<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender</key>
    <string>C_hedescender.glif</string>
    <key>Cheverticalstroke</key>
    <string>C_heverticalstroke.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>Hastrokecyr</key>
    <string>H_astrokecyr.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Ieukran.alt1</key>
    <string>I_eukran.alt1.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Pe</key>
    <string>P_e.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ustraightstroke</key>
    <string>U_straightstroke.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.uc</key>
    <string>breve.cyr.uc.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dzhe</key>
    <string>dzhe.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>pe</key>
    <string>pe.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
