<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>breveinvertedcomb</key>
    <string>breveinvertedcomb.glif</string>
    <key>cent.altprop</key>
    <string>cent.altprop.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>eight.lintab</key>
    <string>eight.lintab.glif</string>
    <key>eight.oldtab</key>
    <string>eight.oldtab.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>five.oldtab</key>
    <string>five.oldtab.glif</string>
    <key>four.oldtab</key>
    <string>four.oldtab.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>guarani.proportional</key>
    <string>guarani.proportional.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>nine.lintab</key>
    <string>nine.lintab.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.midprop</key>
    <string>three.midprop.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>three.oldtab</key>
    <string>three.oldtab.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>two.midprop</key>
    <string>two.midprop.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>two.oldtab</key>
    <string>two.oldtab.glif</string>
    <key>uni20B8.proportional</key>
    <string>uni20B_8.proportional.glif</string>
    <key>won.proportional</key>
    <string>won.proportional.glif</string>
  </dict>
</plist>
