<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>breve_tilde</key>
    <string>breve_tilde.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex.uc</key>
    <string>circumflex.uc.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>eight.oldtab</key>
    <string>eight.oldtab.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lira.proportional</key>
    <string>lira.proportional.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>six.oldtab</key>
    <string>six.oldtab.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.midprop</key>
    <string>zero.midprop.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
  </dict>
</plist>
