<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>baht.proportional</key>
    <string>baht.proportional.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>colonmonetary.proportional</key>
    <string>colonmonetary.proportional.glif</string>
    <key>currency.proportional</key>
    <string>currency.proportional.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>efcyr</key>
    <string>efcyr.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero.den</key>
    <string>zero.den.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
  </dict>
</plist>
