<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>F</key>
    <string>F_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.lintab</key>
    <string>eight.lintab.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>eight.oldtab</key>
    <string>eight.oldtab.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>won.proportional</key>
    <string>won.proportional.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
  </dict>
</plist>
