<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>at.uc</key>
    <string>at.uc.glif</string>
    <key>bar.uc</key>
    <string>bar.uc.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>brokenbar.uc</key>
    <string>brokenbar.uc.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>currency.proportional</key>
    <string>currency.proportional.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
  </dict>
</plist>
