<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.pl</key>
    <string>acute.pl.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>acute.ucpl</key>
    <string>acute.ucpl.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve_acute.uc</key>
    <string>breve_acute.uc.glif</string>
    <key>breve_grave.uc</key>
    <string>breve_grave.uc.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>breve_hook.uc</key>
    <string>breve_hook.uc.glif</string>
    <key>breve_tilde</key>
    <string>breve_tilde.glif</string>
    <key>breve_tilde.uc</key>
    <string>breve_tilde.uc.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex.uc</key>
    <string>circumflex.uc.glif</string>
    <key>circumflex_acute</key>
    <string>circumflex_acute.glif</string>
    <key>circumflex_acute.uc</key>
    <string>circumflex_acute.uc.glif</string>
    <key>circumflex_grave</key>
    <string>circumflex_grave.glif</string>
    <key>circumflex_grave.uc</key>
    <string>circumflex_grave.uc.glif</string>
    <key>circumflex_hook</key>
    <string>circumflex_hook.glif</string>
    <key>circumflex_hook.uc</key>
    <string>circumflex_hook.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>circumflex_tilde.uc</key>
    <string>circumflex_tilde.uc.glif</string>
    <key>dblgrave</key>
    <string>dblgrave.glif</string>
    <key>dblgrave.uc</key>
    <string>dblgrave.uc.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dong.proportional</key>
    <string>dong.proportional.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_i.alt</key>
    <string>f_i.alt.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.uc</key>
    <string>grave.uc.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>hook.uc</key>
    <string>hook.uc.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.uc</key>
    <string>hungarumlaut.uc.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.midprop</key>
    <string>nine.midprop.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ring.uc</key>
    <string>ring.uc.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.midprop</key>
    <string>seven.midprop.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>tilde.uc</key>
    <string>tilde.uc.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.midprop</key>
    <string>two.midprop.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
