<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Adieresiscyr</key>
    <string>A_dieresiscyr.glif</string>
    <key>Amacroncyr</key>
    <string>A_macroncyr.glif</string>
    <key>Becyr</key>
    <string>B_ecyr.glif</string>
    <key>Djecyr</key>
    <string>D_jecyr.glif</string>
    <key>Ecyr.alt1</key>
    <string>E_cyr.alt1.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Hastrokecyr</key>
    <string>H_astrokecyr.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Ieukran.alt1</key>
    <string>I_eukran.alt1.glif</string>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Katailcyr</key>
    <string>K_atailcyr.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Obrevecyr</key>
    <string>O_brevecyr.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Omacroncyr</key>
    <string>O_macroncyr.glif</string>
    <key>Tetailcyr</key>
    <string>T_etailcyr.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Xatailcyr</key>
    <string>X_atailcyr.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>becyr</key>
    <string>becyr.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>igravecyr.bgr</key>
    <string>igravecyr.bgr.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>kacyr</key>
    <string>kacyr.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
