<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.proportional</key>
    <string>E_uro.proportional.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Udieresiscaron</key>
    <string>U_dieresiscaron.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>Zecyr</key>
    <string>Z_ecyr.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.pl</key>
    <string>acute.pl.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>acute.ucpl</key>
    <string>acute.ucpl.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>at.uc</key>
    <string>at.uc.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>blackdiamond</key>
    <string>blackdiamond.glif</string>
    <key>blackdownpointingtriangle</key>
    <string>blackdownpointingtriangle.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketleft.uc</key>
    <string>bracketleft.uc.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.uc</key>
    <string>breve.uc.glif</string>
    <key>breve_acute</key>
    <string>breve_acute.glif</string>
    <key>breve_acute.uc</key>
    <string>breve_acute.uc.glif</string>
    <key>breve_grave</key>
    <string>breve_grave.glif</string>
    <key>breve_grave.uc</key>
    <string>breve_grave.uc.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>breve_hook.uc</key>
    <string>breve_hook.uc.glif</string>
    <key>breve_tilde</key>
    <string>breve_tilde.glif</string>
    <key>breve_tilde.uc</key>
    <string>breve_tilde.uc.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>breveinverted</key>
    <string>breveinverted.glif</string>
    <key>breveinverted.uc</key>
    <string>breveinverted.uc.glif</string>
    <key>breveinvertedcomb</key>
    <string>breveinvertedcomb.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.proportional</key>
    <string>cedi.proportional.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>cent.altprop</key>
    <string>cent.altprop.glif</string>
    <key>cent.proportional</key>
    <string>cent.proportional.glif</string>
    <key>circumflex_acute</key>
    <string>circumflex_acute.glif</string>
    <key>circumflex_acute.uc</key>
    <string>circumflex_acute.uc.glif</string>
    <key>circumflex_grave</key>
    <string>circumflex_grave.glif</string>
    <key>circumflex_grave.uc</key>
    <string>circumflex_grave.uc.glif</string>
    <key>circumflex_hook</key>
    <string>circumflex_hook.glif</string>
    <key>circumflex_hook.uc</key>
    <string>circumflex_hook.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>circumflex_tilde.uc</key>
    <string>circumflex_tilde.uc.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>currency.proportional</key>
    <string>currency.proportional.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dong.proportional</key>
    <string>dong.proportional.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.den</key>
    <string>eight.den.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown.uc</key>
    <string>exclamdown.uc.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>florin.proportional</key>
    <string>florin.proportional.glif</string>
    <key>four.linprop</key>
    <string>four.linprop.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave.uc</key>
    <string>grave.uc.glif</string>
    <key>greater.lin</key>
    <string>greater.lin.glif</string>
    <key>greaterequal.lin</key>
    <string>greaterequal.lin.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guarani.proportional</key>
    <string>guarani.proportional.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>hook.uc</key>
    <string>hook.uc.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.uc</key>
    <string>hungarumlaut.uc.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>kip.proportional</key>
    <string>kip.proportional.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal.lin</key>
    <string>lessequal.lin.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>lira.altprop</key>
    <string>lira.altprop.glif</string>
    <key>lira.proportional</key>
    <string>lira.proportional.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>liraTurkish.proportional</key>
    <string>liraT_urkish.proportional.glif</string>
    <key>ljecyr</key>
    <string>ljecyr.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>manat.proportional</key>
    <string>manat.proportional.glif</string>
    <key>minus.sub</key>
    <string>minus.sub.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>naira.proportional</key>
    <string>naira.proportional.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.uc</key>
    <string>parenleft.uc.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT.uc</key>
    <string>periodcentered.loclC_A_T_.uc.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>peso.proportional</key>
    <string>peso.proportional.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>ruble.proportional</key>
    <string>ruble.proportional.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>rupeeIndian.proportional</key>
    <string>rupeeI_ndian.proportional.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.den</key>
    <string>six.den.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>slash.uc</key>
    <string>slash.uc.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>sterling.altprop</key>
    <string>sterling.altprop.glif</string>
    <key>sterling.proportional</key>
    <string>sterling.proportional.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.uc</key>
    <string>tilde.uc.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.den</key>
    <string>two.den.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>udieresiscaron</key>
    <string>udieresiscaron.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>uni20B4.proportional</key>
    <string>uni20B_4.proportional.glif</string>
    <key>uni20B8</key>
    <string>uni20B_8.glif</string>
    <key>uni25B9</key>
    <string>uni25B_9.glif</string>
    <key>uni25BF</key>
    <string>uni25B_F_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>verticallinemod</key>
    <string>verticallinemod.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.proportional</key>
    <string>yen.proportional.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.den</key>
    <string>zero.den.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
  </dict>
</plist>
