<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Adieresiscyr</key>
    <string>A_dieresiscyr.glif</string>
    <key>Amacroncyr</key>
    <string>A_macroncyr.glif</string>
    <key>Ebrevecyr.alt1</key>
    <string>E_brevecyr.alt1.glif</string>
    <key>Emacroncyr.alt1</key>
    <string>E_macroncyr.alt1.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iebrevecyr.alt1</key>
    <string>I_ebrevecyr.alt1.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Iemacroncyr.alt1</key>
    <string>I_emacroncyr.alt1.glif</string>
    <key>Io.alt1</key>
    <string>I_o.alt1.glif</string>
    <key>Obrevecyr</key>
    <string>O_brevecyr.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Omacroncyr</key>
    <string>O_macroncyr.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>brevecyr.uc</key>
    <string>brevecyr.uc.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>elcyr</key>
    <string>elcyr.glif</string>
    <key>emcyr</key>
    <string>emcyr.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>igravecyr</key>
    <string>igravecyr.glif</string>
    <key>igravecyr.bgr</key>
    <string>igravecyr.bgr.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>ljecyr</key>
    <string>ljecyr.glif</string>
    <key>obrevecyr</key>
    <string>obrevecyr.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>udieresiscyr</key>
    <string>udieresiscyr.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe.alt1</key>
    <string>zhe.alt1.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
