<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>De.bgr</key>
    <string>D_e.bgr.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Tshecyr</key>
    <string>T_shecyr.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
