<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>S</key>
    <string>S_.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
  </dict>
</plist>
