<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>eukrcyr</key>
    <string>eukrcyr.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
