<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Katailcyr</key>
    <string>K_atailcyr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>hastrokecyr</key>
    <string>hastrokecyr.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhecyr</key>
    <string>zhecyr.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
