<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6RYpvJtUYc</string>
        <key>x</key>
        <integer>133</integer>
        <key>y</key>
        <integer>810</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>GyYoKqmiJ7</string>
        <key>x</key>
        <integer>449</integer>
        <key>y</key>
        <integer>-43</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BBpcnGNxtc</string>
        <key>x</key>
        <integer>385</integer>
        <key>y</key>
        <integer>-11</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>hVJSdBAKPD</string>
        <key>x</key>
        <integer>485</integer>
        <key>y</key>
        <integer>729</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>CEfcCTnont</string>
        <key>x</key>
        <integer>521</integer>
        <key>y</key>
        <integer>710</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>pQW7oA8Dse</string>
        <key>x</key>
        <integer>155</integer>
        <key>y</key>
        <integer>638</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>LBqlO3Mi2B</string>
        <key>x</key>
        <integer>310</integer>
        <key>y</key>
        <integer>609</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>7xTjUBMEAu</string>
        <key>x</key>
        <integer>481</integer>
        <key>y</key>
        <integer>546</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Wkec5DGNJZ</string>
        <key>x</key>
        <integer>439</integer>
        <key>y</key>
        <integer>442</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6n3ns1QZEk</string>
        <key>x</key>
        <integer>376</integer>
        <key>y</key>
        <integer>143</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>5m1JNUVejk</string>
        <key>x</key>
        <integer>1</integer>
        <key>y</key>
        <integer>773</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>Pjtcekb2HZ</string>
        <key>x</key>
        <integer>488</integer>
        <key>y</key>
        <integer>411</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>M3XzDjHZN8</string>
        <key>x</key>
        <integer>305</integer>
        <key>y</key>
        <integer>-160</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>twvZJl12Vu</string>
        <key>x</key>
        <integer>519</integer>
        <key>y</key>
        <integer>189</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Zab5cfZZdI</string>
        <key>x</key>
        <integer>359</integer>
        <key>y</key>
        <integer>356</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:16:05</string>
    <key>openTypeHheaAscender</key>
    <integer>927</integer>
    <key>openTypeHheaDescender</key>
    <integer>-244</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>927</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-244</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>100</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>518</integer>
      <integer>528</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>758</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>518</integer>
      <integer>528</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>758</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>80</integer>
      <integer>77</integer>
      <integer>67</integer>
      <integer>74</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>250</integer>
      <integer>265</integer>
      <integer>104</integer>
      <integer>110</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Grade1 144pt Thin</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>518</integer>
  </dict>
</plist>
