<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
    <key>zero.midprop</key>
    <string>zero.midprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
  </dict>
</plist>
