<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>florin.proportional</key>
    <string>florin.proportional.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.midprop</key>
    <string>nine.midprop.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>seven.midprop</key>
    <string>seven.midprop.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>sterling.alt</key>
    <string>sterling.alt.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
