<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ae</key>
    <string>ae.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_i.alt</key>
    <string>f_i.alt.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lira.alt</key>
    <string>lira.alt.glif</string>
    <key>lira.proportional</key>
    <string>lira.proportional.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.proportional</key>
    <string>sterling.proportional.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
  </dict>
</plist>
