<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowdownleft</key>
    <string>arrowdownleft.glif</string>
    <key>arrowdownright</key>
    <string>arrowdownright.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowupleft</key>
    <string>arrowupleft.glif</string>
    <key>arrowupright</key>
    <string>arrowupright.glif</string>
    <key>heartsuitwhite</key>
    <string>heartsuitwhite.glif</string>
    <key>uni27F7</key>
    <string>uni27F_7.glif</string>
  </dict>
</plist>
