<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.den</key>
    <string>two.den.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
