<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>735</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>nfVVOn2EMN</string>
        <key>name</key>
        <string>UC accents</string>
        <key>x</key>
        <integer>399</integer>
        <key>y</key>
        <integer>23</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>BS7HwtY1lG</string>
        <key>x</key>
        <integer>388</integer>
        <key>y</key>
        <integer>-120</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>360faIXYFt</string>
        <key>x</key>
        <integer>242</integer>
        <key>y</key>
        <integer>1010</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>M3pBHgjxap</string>
        <key>x</key>
        <integer>431</integer>
        <key>y</key>
        <integer>802</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>a9u0DX6OkA</string>
        <key>x</key>
        <integer>325</integer>
        <key>y</key>
        <integer>787</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>m2NXsgAfMR</string>
        <key>x</key>
        <integer>412</integer>
        <key>y</key>
        <integer>683</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>HuGZZgDyeG</string>
        <key>x</key>
        <integer>397</integer>
        <key>y</key>
        <integer>8</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>x7ZEwH1HK5</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>843</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>nPUw06TtJF</string>
        <key>x</key>
        <integer>385</integer>
        <key>y</key>
        <integer>698</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:19:50</string>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>50</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Roboto Serif Display</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Hairline</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>50</integer>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>100</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>518</integer>
      <integer>528</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>758</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>518</integer>
      <integer>528</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>758</integer>
      <integer>758</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-233</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-233</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>16</integer>
      <integer>13</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>40</integer>
      <integer>212</integer>
      <integer>43</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapFamilyName</key>
    <string>Roboto Serif 144pt Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>144pt Thin</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>4</integer>
    <key>xHeight</key>
    <integer>508</integer>
    <key>year</key>
    <integer>2020</integer>
  </dict>
</plist>
