<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccent</key>
    <string>commaaccent.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_i.alt</key>
    <string>f_i.alt.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four.den</key>
    <string>four.den.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>kip.proportional</key>
    <string>kip.proportional.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>one.den</key>
    <string>one.den.glif</string>
    <key>one.midprop</key>
    <string>one.midprop.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>rupeeIndian.proportional</key>
    <string>rupeeI_ndian.proportional.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>six.den</key>
    <string>six.den.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.midprop</key>
    <string>three.midprop.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero.den</key>
    <string>zero.den.glif</string>
  </dict>
</plist>
