<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>cent.proportional</key>
    <string>cent.proportional.glif</string>
    <key>five.lintab</key>
    <string>five.lintab.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>one.lintab</key>
    <string>one.lintab.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lintab</key>
    <string>seven.lintab.glif</string>
    <key>seven.oldtab</key>
    <string>seven.oldtab.glif</string>
    <key>three.lintab</key>
    <string>three.lintab.glif</string>
    <key>three.oldtab</key>
    <string>three.oldtab.glif</string>
    <key>two.lintab</key>
    <string>two.lintab.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
