<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Becyr</key>
    <string>B_ecyr.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Djecyr</key>
    <string>D_jecyr.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Ereversedcyr</key>
    <string>E_reversedcyr.glif</string>
    <key>Eukrcyr</key>
    <string>E_ukrcyr.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Hardcyr</key>
    <string>H_ardcyr.glif</string>
    <key>Hastrokecyr</key>
    <string>H_astrokecyr.glif</string>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Katailcyr</key>
    <string>K_atailcyr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Tetailcyr</key>
    <string>T_etailcyr.glif</string>
    <key>Ustraightstrokecyr</key>
    <string>U_straightstrokecyr.glif</string>
    <key>Xatailcyr</key>
    <string>X_atailcyr.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>becyr</key>
    <string>becyr.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>eukrcyr</key>
    <string>eukrcyr.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>tse.bgr</key>
    <string>tse.bgr.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
