<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>d</key>
    <string>d.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
  </dict>
</plist>
