<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>O</key>
    <string>O_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>currency.proportional</key>
    <string>currency.proportional.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dong.proportional</key>
    <string>dong.proportional.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
  </dict>
</plist>
