<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>0Ox1IszbDR</string>
        <key>x</key>
        <integer>352</integer>
        <key>y</key>
        <integer>745</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>J0dsj0tJm2</string>
        <key>x</key>
        <integer>273</integer>
        <key>y</key>
        <integer>550</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>oAh7ybuGv1</string>
        <key>x</key>
        <integer>514</integer>
        <key>y</key>
        <integer>382</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>McG3v0q14I</string>
        <key>x</key>
        <integer>347</integer>
        <key>y</key>
        <integer>859</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>aBIC3L4oCc</string>
        <key>x</key>
        <integer>438</integer>
        <key>y</key>
        <integer>-48</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Q2CoTxz5zi</string>
        <key>x</key>
        <integer>410</integer>
        <key>y</key>
        <integer>202</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>FJGaUsr6QA</string>
        <key>x</key>
        <integer>338</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>len393OEZn</string>
        <key>x</key>
        <integer>83</integer>
        <key>y</key>
        <integer>70</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>203OrBajdI</string>
        <key>x</key>
        <integer>278</integer>
        <key>y</key>
        <integer>611</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>fDRfgJPdqF</string>
        <key>x</key>
        <integer>263</integer>
        <key>y</key>
        <integer>105</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>75nwFxpaQ1</string>
        <key>x</key>
        <integer>396</integer>
        <key>y</key>
        <integer>-151</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>NsppZFwzTb</string>
        <key>x</key>
        <integer>240</integer>
        <key>y</key>
        <integer>452</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:17:43</string>
    <key>openTypeHheaAscender</key>
    <integer>927</integer>
    <key>openTypeHheaDescender</key>
    <integer>-244</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>927</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-244</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-23</integer>
      <integer>0</integer>
      <integer>565</integer>
      <integer>576</integer>
      <integer>710</integer>
      <integer>733</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>790</integer>
      <integer>790</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-23</integer>
      <integer>0</integer>
      <integer>565</integer>
      <integer>576</integer>
      <integer>710</integer>
      <integer>733</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>790</integer>
      <integer>790</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>54</integer>
      <integer>52</integer>
      <integer>44</integer>
      <integer>49</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>86</integer>
      <integer>240</integer>
      <integer>90</integer>
      <integer>97</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Grade-1 8pt UltraCondensed Regular</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>518</integer>
  </dict>
</plist>
