<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Becyr</key>
    <string>B_ecyr.glif</string>
    <key>Djecyr</key>
    <string>D_jecyr.glif</string>
    <key>Eukrcyr</key>
    <string>E_ukrcyr.glif</string>
    <key>Gestrokecyr</key>
    <string>G_estrokecyr.glif</string>
    <key>Hardcyr</key>
    <string>H_ardcyr.glif</string>
    <key>Hastrokecyr</key>
    <string>H_astrokecyr.glif</string>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Katailcyr</key>
    <string>K_atailcyr.glif</string>
    <key>Tetailcyr</key>
    <string>T_etailcyr.glif</string>
    <key>Tshecyr</key>
    <string>T_shecyr.glif</string>
    <key>Xatailcyr</key>
    <string>X_atailcyr.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>djecyr</key>
    <string>djecyr.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>hastrokecyr</key>
    <string>hastrokecyr.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>kabashkcyr</key>
    <string>kabashkcyr.glif</string>
    <key>katailcyr</key>
    <string>katailcyr.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>xatailcyr</key>
    <string>xatailcyr.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
