<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Pcircle</key>
    <string>P_circle.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowdownleft</key>
    <string>arrowdownleft.glif</string>
    <key>arrowdownright</key>
    <string>arrowdownright.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowupleft</key>
    <string>arrowupleft.glif</string>
    <key>arrowupright</key>
    <string>arrowupright.glif</string>
    <key>at.uc</key>
    <string>at.uc.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>blackcircle</key>
    <string>blackcircle.glif</string>
    <key>blackdiamond</key>
    <string>blackdiamond.glif</string>
    <key>blackdownpointingtriangle</key>
    <string>blackdownpointingtriangle.glif</string>
    <key>blackleftpointingtriangle</key>
    <string>blackleftpointingtriangle.glif</string>
    <key>blackrightpointingtriangle</key>
    <string>blackrightpointingtriangle.glif</string>
    <key>blacksquare</key>
    <string>blacksquare.glif</string>
    <key>blackuppointingtriangle</key>
    <string>blackuppointingtriangle.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>currency.proportional</key>
    <string>currency.proportional.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>heartsuitwhite</key>
    <string>heartsuitwhite.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>uni25B4</key>
    <string>uni25B_4.glif</string>
    <key>uni25B5</key>
    <string>uni25B_5.glif</string>
    <key>uni25B8</key>
    <string>uni25B_8.glif</string>
    <key>uni25B9</key>
    <string>uni25B_9.glif</string>
    <key>uni25BE</key>
    <string>uni25B_E_.glif</string>
    <key>uni25BF</key>
    <string>uni25B_F_.glif</string>
    <key>uni25C2</key>
    <string>uni25C_2.glif</string>
    <key>uni25C3</key>
    <string>uni25C_3.glif</string>
    <key>uni27F7</key>
    <string>uni27F_7.glif</string>
    <key>whitecircle</key>
    <string>whitecircle.glif</string>
    <key>whitediamond</key>
    <string>whitediamond.glif</string>
    <key>whitedownpointingtriangle</key>
    <string>whitedownpointingtriangle.glif</string>
    <key>whiteleftpointingtriangle</key>
    <string>whiteleftpointingtriangle.glif</string>
    <key>whiterightpointingtriangle</key>
    <string>whiterightpointingtriangle.glif</string>
    <key>whitesquare</key>
    <string>whitesquare.glif</string>
    <key>whiteuppointingtriangle</key>
    <string>whiteuppointingtriangle.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.lintab</key>
    <string>zero.lintab.glif</string>
    <key>zero.midprop</key>
    <string>zero.midprop.glif</string>
    <key>zero.oldtab</key>
    <string>zero.oldtab.glif</string>
  </dict>
</plist>
