<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Katailcyr</key>
    <string>K_atailcyr.glif</string>
    <key>Zhecyr</key>
    <string>Z_hecyr.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>kabashkcyr</key>
    <string>kabashkcyr.glif</string>
    <key>katailcyr</key>
    <string>katailcyr.glif</string>
    <key>ustraightcyr</key>
    <string>ustraightcyr.glif</string>
    <key>ustraightstrokecyr</key>
    <string>ustraightstrokecyr.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhecyr</key>
    <string>zhecyr.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
