<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
  </dict>
</plist>
