<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Acaron</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Cacute.pl</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Eacute.alt</string>
      <string>Ebreve.alt</string>
      <string>Ecaron.alt</string>
      <string>Ecedillabreve.alt</string>
      <string>Ecircumflex.alt</string>
      <string>Ecircumflexacute.alt</string>
      <string>Ecircumflexdotbelow.alt</string>
      <string>Ecircumflexgrave.alt</string>
      <string>Ecircumflexhookabove.alt</string>
      <string>Ecircumflextilde.alt</string>
      <string>Edblgrave.alt</string>
      <string>Edieresis.alt</string>
      <string>Edotaccent.alt</string>
      <string>Edotbelow.alt</string>
      <string>Egrave.alt</string>
      <string>Einvertedbreve.alt</string>
      <string>Emacron.alt</string>
      <string>Emacronacute.alt</string>
      <string>Emacrongrave.alt</string>
      <string>Eogonek.alt</string>
      <string>Etilde.alt</string>
      <string>Ehookabove</string>
      <string>Ehookabove.alt</string>
      <string>E.alt</string>
      <string>AE.alt</string>
      <string>AEacute.alt</string>
      <string>OE.alt</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>F.alt</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
    </array>
    <key>public.kern1.Germandbls</key>
    <array>
      <string>Germandbls</string>
      <string>SS</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbrevebelow</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>Mdotbelow</string>
      <string>Hbar</string>
      <string>Ihoi</string>
      <string>Ihookabove</string>
      <string>Icaron</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>IJ</string>
      <string>Jacute</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Nlinebelow</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>Nacute.pl</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oogonek</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>Otildedieresis</string>
      <string>Otildemacron</string>
      <string>Q</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>Oacute.pl</string>
      <string>Dcroat</string>
      <string>Oslashacute</string>
      <string>Oslash</string>
      <string>Eth</string>
      <string>Schwa</string>
      <string>Ocaron</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>Rlinebelow</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Sacutedotaccent</string>
      <string>Scaron</string>
      <string>Scarondotaccent</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotaccent</string>
      <string>Sacute.pl</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
      <string>Tbar</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Umacrondieresis</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Utildeacute</string>
      <string>Udieresiscaron</string>
      <string>Ucaron</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhorn</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotaccent</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Zacute.pl</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>acaron</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>f_b</string>
      <string>f_f_b</string>
      <string>thorn</string>
      <string>f_f_b.alt</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
      <string>backslash.uc</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.braceleft_uc</key>
    <array>
      <string>braceleft.uc</string>
      <string>bracketleft.uc</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccedillaacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>cacute.pl</string>
    </array>
    <key>public.kern1.circle</key>
    <array>
      <string>Pcircle</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.dashes</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern1.dashes.uc</key>
    <array>
      <string>emdash.uc</string>
      <string>endash.uc</string>
      <string>hyphen.uc</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>lcaron</string>
      <string>dcaron</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>oe</string>
      <string>ehookabove</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.f.alt</key>
    <array>
      <string>f.alt</string>
      <string>f_f.alt</string>
    </array>
    <key>public.kern1.fshort</key>
    <array>
      <string>f.short</string>
      <string>f_f.short</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern1.g.alt</key>
    <array>
      <string>g.alt</string>
      <string>gbreve.alt</string>
      <string>gcaron.alt</string>
      <string>gcircumflex.alt</string>
      <string>gcommaaccent.alt</string>
      <string>gdotaccent.alt</string>
      <string>gmacron.alt</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotleft_uc</key>
    <array>
      <string>guilsinglleft.uc</string>
      <string>guillemotleft.uc</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemotright</string>
    </array>
    <key>public.kern1.guillemotright_uc</key>
    <array>
      <string>guillemotright.uc</string>
      <string>guilsinglright.uc</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>dotlessi</string>
      <string>f_f_i</string>
      <string>f_f_i.alt</string>
      <string>f_i</string>
      <string>fi</string>
      <string>fi.alt</string>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>idotless</string>
      <string>igrave</string>
      <string>ihoi</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ihookabove</string>
      <string>icaron</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>f_f_j</string>
      <string>f_j</string>
      <string>j</string>
      <string>jcircumflex</string>
      <string>dotlessj</string>
      <string>ij</string>
      <string>eng</string>
      <string>jacute</string>
      <string>jdotless</string>
      <string>f_f_j.alt</string>
      <string>f_j.alt</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>f_f_k</string>
      <string>f_k</string>
      <string>kgreenlandic</string>
      <string>f_f_k.alt</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>ddotbelow</string>
      <string>dlinebelow</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>ldotbelow</string>
      <string>llinebelow</string>
      <string>f_l</string>
      <string>fl</string>
      <string>f_f_l</string>
      <string>lslash</string>
      <string>f_f_l.alt</string>
    </array>
    <key>public.kern1.mark</key>
    <array>
      <string>servicemark</string>
      <string>trademark</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>hbrevebelow</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>m</string>
      <string>mdotbelow</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>nlinebelow</string>
      <string>ntilde</string>
      <string>f_h</string>
      <string>f_f_h</string>
      <string>hbar</string>
      <string>nacute.pl</string>
      <string>f_f_h.alt</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oogonek</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>otildemacron</string>
      <string>oslashacute</string>
      <string>oslash</string>
      <string>oacute.pl</string>
      <string>schwa</string>
      <string>ocaron</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
    </array>
    <key>public.kern1.quotebase</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>rlinebelow</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>sacutedotaccent</string>
      <string>scaron</string>
      <string>scarondotaccent</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotaccent</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotaccent</string>
      <string>sacute.pl</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
      <string>slash.uc</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
      <string>tbar</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>umacrondieresis</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>utildeacute</string>
      <string>udieresiscaron</string>
      <string>ucaron</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>zacute.pl</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Acaron</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>AE.alt</string>
      <string>AEacute.alt</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>Ehookabove</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hbrevebelow</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idieresisacute</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>M</string>
      <string>Mdotbelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecedillabreve</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Emacronacute</string>
      <string>Emacrongrave</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>IJ</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldotbelow</string>
      <string>Llinebelow</string>
      <string>Lslash</string>
      <string>Eng</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Nacute.pl</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Ndotbelow</string>
      <string>Nlinebelow</string>
      <string>Ntilde</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>Rlinebelow</string>
      <string>E.alt</string>
      <string>F.alt</string>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>F</string>
      <string>Ihoi</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Ldot</string>
      <string>Eacute.alt</string>
      <string>Ebreve.alt</string>
      <string>Ecaron.alt</string>
      <string>Ecedillabreve.alt</string>
      <string>Ecircumflex.alt</string>
      <string>Ecircumflexacute.alt</string>
      <string>Ecircumflexdotbelow.alt</string>
      <string>Ecircumflexgrave.alt</string>
      <string>Ecircumflexhookabove.alt</string>
      <string>Ecircumflextilde.alt</string>
      <string>Edblgrave.alt</string>
      <string>Edieresis.alt</string>
      <string>Edotaccent.alt</string>
      <string>Edotbelow.alt</string>
      <string>Egrave.alt</string>
      <string>Einvertedbreve.alt</string>
      <string>Emacron.alt</string>
      <string>Emacronacute.alt</string>
      <string>Emacrongrave.alt</string>
      <string>Eogonek.alt</string>
      <string>Etilde.alt</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>Ihookabove</string>
      <string>Ehookabove.alt</string>
      <string>Icaron</string>
      <string>SS</string>
      <string>Germandbls</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>Jacute</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Oacute.pl</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Omacronacute</string>
      <string>Omacrongrave</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>Otildedieresis</string>
      <string>Otildemacron</string>
      <string>Q</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Cacute.pl</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccedillaacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>OE</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ocaron</string>
      <string>OE.alt</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Sacute.pl</string>
      <string>Sacutedotaccent</string>
      <string>Scaron</string>
      <string>Scarondotaccent</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotaccent</string>
      <string>Sdotbelow</string>
      <string>Sdotbelowdotaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Umacrondieresis</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Utildeacute</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Udieresiscaron</string>
      <string>Ucaron</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotaccent</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zacute.pl</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>d</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>dcaron</string>
      <string>ddotbelow</string>
      <string>q</string>
      <string>dlinebelow</string>
      <string>dcroat</string>
      <string>acaron</string>
    </array>
    <key>public.kern2.ae</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
    </array>
    <key>public.kern2.backslash</key>
    <array>
      <string>backslash</string>
      <string>backslash.uc</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.braceright_uc</key>
    <array>
      <string>braceright.uc</string>
      <string>bracketright.uc</string>
    </array>
    <key>public.kern2.circle</key>
    <array>
      <string>Pcircle</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.dashes</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
    </array>
    <key>public.kern2.dashes.uc</key>
    <array>
      <string>emdash.uc</string>
      <string>endash.uc</string>
      <string>hyphen.uc</string>
    </array>
    <key>public.kern2.dcaron</key>
    <array>
      <string>lcaron</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>f_b</string>
      <string>f_f_b</string>
      <string>f_f_h</string>
      <string>f_f_j</string>
      <string>f_f_k</string>
      <string>f_h</string>
      <string>f_i</string>
      <string>f_j</string>
      <string>f_k</string>
      <string>f_l</string>
      <string>f.short</string>
      <string>f_f.short</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
      <string>f.alt</string>
      <string>f_f.alt</string>
      <string>f_f_b.alt</string>
      <string>f_f_h.alt</string>
      <string>f_f_i.alt</string>
      <string>f_f_j.alt</string>
      <string>f_f_k.alt</string>
      <string>f_f_l.alt</string>
      <string>f_j.alt</string>
      <string>fi.alt</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern2.g.alt</key>
    <array>
      <string>g.alt</string>
      <string>gbreve.alt</string>
      <string>gcaron.alt</string>
      <string>gcircumflex.alt</string>
      <string>gcommaaccent.alt</string>
      <string>gdotaccent.alt</string>
      <string>gmacron.alt</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotleft_uc</key>
    <array>
      <string>guillemotleft.uc</string>
      <string>guilsinglleft.uc</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guillemotright_uc</key>
    <array>
      <string>guillemotright.uc</string>
      <string>guilsinglright.uc</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idieresisacute</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>dotlessi</string>
      <string>ij</string>
      <string>idotaccent</string>
      <string>idotless</string>
      <string>ihoi</string>
      <string>ihookabove</string>
      <string>icaron</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>dotlessj</string>
      <string>j</string>
      <string>jacute</string>
      <string>jcircumflex</string>
      <string>jdotless</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>ldotbelow</string>
      <string>llinebelow</string>
      <string>lslash</string>
      <string>b</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>h</string>
      <string>hbar</string>
      <string>hbrevebelow</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>ldot</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>mdotbelow</string>
      <string>n</string>
      <string>nacute</string>
      <string>nacute.pl</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>ndotbelow</string>
      <string>nlinebelow</string>
      <string>ntilde</string>
      <string>kgreenlandic</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>rlinebelow</string>
      <string>eng</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>o</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccedillaacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>omacronacute</string>
      <string>omacrongrave</string>
      <string>oogonek</string>
      <string>otilde</string>
      <string>otildeacute</string>
      <string>otildedieresis</string>
      <string>otildemacron</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecedillabreve</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>emacronacute</string>
      <string>emacrongrave</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>oacute.pl</string>
      <string>cacute.pl</string>
      <string>eth</string>
      <string>ehookabove</string>
      <string>ocaron</string>
    </array>
    <key>public.kern2.ohorn</key>
    <array/>
    <key>public.kern2.period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
    </array>
    <key>public.kern2.quotebase</key>
    <array>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>sacute.pl</string>
      <string>sacutedotaccent</string>
      <string>scaron</string>
      <string>scarondotaccent</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotaccent</string>
      <string>sdotbelow</string>
      <string>sdotbelowdotaccent</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
      <string>slash.uc</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdieresis</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
      <string>tbar</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>umacrondieresis</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>utildeacute</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>udieresiscaron</string>
      <string>ucaron</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotaccent</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zacute.pl</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
    </array>
  </dict>
</plist>
