<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>breve_hook.uc</key>
    <string>breve_hook.uc.glif</string>
    <key>breve_tilde</key>
    <string>breve_tilde.glif</string>
    <key>breve_tilde.uc</key>
    <string>breve_tilde.uc.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex_acute.uc</key>
    <string>circumflex_acute.uc.glif</string>
    <key>circumflex_hook</key>
    <string>circumflex_hook.glif</string>
    <key>circumflex_hook.uc</key>
    <string>circumflex_hook.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>colonmonetary.proportional</key>
    <string>colonmonetary.proportional.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>esdescendercyr</key>
    <string>esdescendercyr.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
