<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Djecyr</key>
    <string>D_jecyr.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.uc</key>
    <string>breve.cyr.uc.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dzhe</key>
    <string>dzhe.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>pe</key>
    <string>pe.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
