<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Adieresiscyr</key>
    <string>A_dieresiscyr.glif</string>
    <key>Amacroncyr</key>
    <string>A_macroncyr.glif</string>
    <key>Becyr</key>
    <string>B_ecyr.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Djecyr</key>
    <string>D_jecyr.glif</string>
    <key>Ebrevecyr</key>
    <string>E_brevecyr.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ecyr.alt1</key>
    <string>E_cyr.alt1.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>Emacroncyr.alt1</key>
    <string>E_macroncyr.alt1.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Ereversedcyr</key>
    <string>E_reversedcyr.glif</string>
    <key>Eukrcyr</key>
    <string>E_ukrcyr.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Ghestroke</key>
    <string>G_hestroke.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>Hardcyr</key>
    <string>H_ardcyr.glif</string>
    <key>Hastrokecyr</key>
    <string>H_astrokecyr.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Ieukran</key>
    <string>I_eukran.glif</string>
    <key>Ieukran.alt1</key>
    <string>I_eukran.alt1.glif</string>
    <key>Io</key>
    <string>I_o.glif</string>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Ljecyr</key>
    <string>L_jecyr.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>Obrevecyr</key>
    <string>O_brevecyr.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Omacroncyr</key>
    <string>O_macroncyr.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Tetailcyr</key>
    <string>T_etailcyr.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Xatailcyr</key>
    <string>X_atailcyr.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Yi</key>
    <string>Y_i.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.uc</key>
    <string>breve.cyr.uc.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dzhe</key>
    <string>dzhe.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>eukrcyr</key>
    <string>eukrcyr.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>igravecyr.bgr</key>
    <string>igravecyr.bgr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>katailcyr</key>
    <string>katailcyr.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>obrevecyr</key>
    <string>obrevecyr.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>pe</key>
    <string>pe.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>shcha.bgr</key>
    <string>shcha.bgr.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>te</key>
    <string>te.glif</string>
    <key>tedescender</key>
    <string>tedescender.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
