<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>baht.proportional</key>
    <string>baht.proportional.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine.lintab</key>
    <string>nine.lintab.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
  </dict>
</plist>
