<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.midprop</key>
    <string>eight.midprop.glif</string>
    <key>f_i.alt</key>
    <string>f_i.alt.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>five.midprop</key>
    <string>five.midprop.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>four.midprop</key>
    <string>four.midprop.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>nine.midprop</key>
    <string>nine.midprop.glif</string>
    <key>one.midprop</key>
    <string>one.midprop.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.midprop</key>
    <string>seven.midprop.glif</string>
    <key>six.midprop</key>
    <string>six.midprop.glif</string>
    <key>three.midprop</key>
    <string>three.midprop.glif</string>
    <key>two.midprop</key>
    <string>two.midprop.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero.midprop</key>
    <string>zero.midprop.glif</string>
    <key>zero.slash</key>
    <string>zero.slash.glif</string>
    <key>zero.slashlin</key>
    <string>zero.slashlin.glif</string>
  </dict>
</plist>
