<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>wv4LqeseWC</string>
        <key>x</key>
        <integer>582</integer>
        <key>y</key>
        <integer>430</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>43YOlrnJxw</string>
        <key>x</key>
        <integer>147</integer>
        <key>y</key>
        <integer>231</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>qtoEIiOQPn</string>
        <key>x</key>
        <integer>127</integer>
        <key>y</key>
        <integer>702</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>EhGIhIi90n</string>
        <key>x</key>
        <integer>333</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>XYFNxQN9D4</string>
        <key>x</key>
        <integer>397</integer>
        <key>y</key>
        <integer>192</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Q8crn9hd99</string>
        <key>x</key>
        <integer>461</integer>
        <key>y</key>
        <integer>540</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DhUJplsbDr</string>
        <key>x</key>
        <integer>298</integer>
        <key>y</key>
        <integer>508</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>741III5cP8</string>
        <key>x</key>
        <integer>412</integer>
        <key>y</key>
        <integer>29</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>7U7NcHk5PF</string>
        <key>x</key>
        <integer>330</integer>
        <key>y</key>
        <integer>819</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>RTY30bTw9z</string>
        <key>x</key>
        <integer>454</integer>
        <key>y</key>
        <integer>-117</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DMFgOtur4w</string>
        <key>x</key>
        <integer>188</integer>
        <key>y</key>
        <integer>360</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>AonH0x6CN7</string>
        <key>x</key>
        <integer>178</integer>
        <key>y</key>
        <integer>89</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:16:05</string>
    <key>openTypeHheaAscender</key>
    <integer>927</integer>
    <key>openTypeHheaDescender</key>
    <integer>-244</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>927</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-244</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>100</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>508</integer>
      <integer>518</integer>
      <integer>710</integer>
      <integer>722</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>752</integer>
      <integer>752</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>508</integer>
      <integer>518</integer>
      <integer>710</integer>
      <integer>722</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>752</integer>
      <integer>752</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>54</integer>
      <integer>52</integer>
      <integer>44</integer>
      <integer>49</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>23</integer>
      <integer>175</integer>
      <integer>24</integer>
      <integer>26</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Grade-1 20pt UltraCondensed Thin</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>518</integer>
  </dict>
</plist>
