<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
