<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dong.proportional</key>
    <string>dong.proportional.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
  </dict>
</plist>
