<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>735</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>CgPQ3t1QGx</string>
        <key>name</key>
        <string>UC accents</string>
        <key>x</key>
        <integer>742</integer>
        <key>y</key>
        <integer>710</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>DPRQSr4DCa</string>
        <key>name</key>
        <string>LC accents</string>
        <key>x</key>
        <integer>408</integer>
        <key>y</key>
        <integer>508</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>XCDIFwRRlt</string>
        <key>x</key>
        <integer>242</integer>
        <key>y</key>
        <integer>1010</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>p1bm7kxnqM</string>
        <key>x</key>
        <integer>431</integer>
        <key>y</key>
        <integer>802</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>UtINtJiyk0</string>
        <key>x</key>
        <integer>155</integer>
        <key>y</key>
        <integer>745</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>KPfqIpqMBs</string>
        <key>x</key>
        <integer>369</integer>
        <key>y</key>
        <integer>974</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>TUB3zgg6sH</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>481</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:16:35</string>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>50</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Roboto Serif Text</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Hairline</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>50</integer>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>100</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>508</integer>
      <integer>518</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>752</integer>
      <integer>752</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-12</integer>
      <integer>0</integer>
      <integer>508</integer>
      <integer>518</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>752</integer>
      <integer>752</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>30</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>40</integer>
      <integer>232</integer>
      <integer>43</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapFamilyName</key>
    <string>Roboto Serif 20pt Thin</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>20pt Thin</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>4</integer>
    <key>xHeight</key>
    <integer>508</integer>
    <key>year</key>
    <integer>2020</integer>
  </dict>
</plist>
