<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
  </dict>
</plist>
