<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>O</key>
    <string>O_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
