<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevecyr</key>
    <string>A_brevecyr.glif</string>
    <key>Adieresiscyr</key>
    <string>A_dieresiscyr.glif</string>
    <key>Amacroncyr</key>
    <string>A_macroncyr.glif</string>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>Checyr</key>
    <string>C_hecyr.glif</string>
    <key>Cheverticalstroke</key>
    <string>C_heverticalstroke.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Decyr</key>
    <string>D_ecyr.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>Hard</key>
    <string>H_ard.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iebrevecyr.alt1</key>
    <string>I_ebrevecyr.alt1.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Iemacroncyr.alt1</key>
    <string>I_emacroncyr.alt1.glif</string>
    <key>Io</key>
    <string>I_o.glif</string>
    <key>Io.alt1</key>
    <string>I_o.alt1.glif</string>
    <key>Kabashkircyr</key>
    <string>K_abashkircyr.glif</string>
    <key>Obrevecyr</key>
    <string>O_brevecyr.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Omacroncyr</key>
    <string>O_macroncyr.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr.uc</key>
    <string>breve.cyr.uc.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>dzhe</key>
    <string>dzhe.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>ghestroke</key>
    <string>ghestroke.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>ieukran</key>
    <string>ieukran.glif</string>
    <key>igravecyr</key>
    <string>igravecyr.glif</string>
    <key>igravecyr.bgr</key>
    <string>igravecyr.bgr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>ishort</key>
    <string>ishort.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>ljecyr</key>
    <string>ljecyr.glif</string>
    <key>obrevecyr</key>
    <string>obrevecyr.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>tedescender</key>
    <string>tedescender.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>udieresiscyr</key>
    <string>udieresiscyr.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.alt1</key>
    <string>zhe.alt1.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
