<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif Display Cond</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>4Owsd48sQj</string>
        <key>x</key>
        <integer>252</integer>
        <key>y</key>
        <integer>523</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>9EcSnBATxO</string>
        <key>x</key>
        <integer>179</integer>
        <key>y</key>
        <integer>881</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>9uvcvpzBib</string>
        <key>x</key>
        <integer>155</integer>
        <key>y</key>
        <integer>-238</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>5KUU9wz7xc</string>
        <key>x</key>
        <integer>-415</integer>
        <key>y</key>
        <integer>524</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>VthfLWuVbr</string>
        <key>x</key>
        <real>399.6200939216</real>
        <key>y</key>
        <integer>710</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cFj2rBpdog</string>
        <key>x</key>
        <real>832.6095732132</real>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>n4jm0tBg3Y</string>
        <key>x</key>
        <integer>136</integer>
        <key>y</key>
        <integer>227</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:20:30</string>
    <key>openTypeHheaAscender</key>
    <integer>927</integer>
    <key>openTypeHheaDescender</key>
    <integer>-244</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Roboto Serif Display Cond</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Super</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>4</integer>
      <integer>7</integer>
      <integer>8</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>927</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-244</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>3</integer>
      <integer>5</integer>
      <integer>6</integer>
      <integer>7</integer>
      <integer>24</integer>
      <integer>29</integer>
      <integer>31</integer>
      <integer>33</integer>
      <integer>35</integer>
      <integer>36</integer>
      <integer>37</integer>
      <integer>38</integer>
      <integer>41</integer>
      <integer>42</integer>
      <integer>45</integer>
      <integer>62</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>523</integer>
      <integer>533</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>760</integer>
      <integer>760</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-10</integer>
      <integer>0</integer>
      <integer>523</integer>
      <integer>533</integer>
      <integer>710</integer>
      <integer>720</integer>
      <integer>740</integer>
      <integer>740</integer>
      <integer>760</integer>
      <integer>760</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-239</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-239</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>53</integer>
      <integer>45</integer>
      <integer>40</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>204</integer>
      <integer>284</integer>
      <integer>206</integer>
      <integer>220</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Super</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>518</integer>
    <key>year</key>
    <integer>2020</integer>
  </dict>
</plist>
