<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gheup</key>
    <string>G_heup.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iebrevecyr</key>
    <string>I_ebrevecyr.glif</string>
    <key>Iemacroncyr</key>
    <string>I_emacroncyr.glif</string>
    <key>Ieukran.alt1</key>
    <string>I_eukran.alt1.glif</string>
    <key>Io</key>
    <string>I_o.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Obrevecyr</key>
    <string>O_brevecyr.glif</string>
    <key>Odieresiscyr</key>
    <string>O_dieresiscyr.glif</string>
    <key>Omacroncyr</key>
    <string>O_macroncyr.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>adieresiscyr</key>
    <string>adieresiscyr.glif</string>
    <key>amacroncyr</key>
    <string>amacroncyr.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>iemacroncyr</key>
    <string>iemacroncyr.glif</string>
    <key>igravecyr.bgr</key>
    <string>igravecyr.bgr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>obrevecyr</key>
    <string>obrevecyr.glif</string>
    <key>odieresiscyr</key>
    <string>odieresiscyr.glif</string>
    <key>omacroncyr</key>
    <string>omacroncyr.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>umacroncyr</key>
    <string>umacroncyr.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
