<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>ustraightstrokecyr</key>
    <string>ustraightstrokecyr.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
