<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>nine.oldtab</key>
    <string>nine.oldtab.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>six.lintab</key>
    <string>six.lintab.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.oldtab</key>
    <string>zero.oldtab.glif</string>
    <key>zero.propslash</key>
    <string>zero.propslash.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
    <key>zero.slashold</key>
    <string>zero.slashold.glif</string>
    <key>zero.slasholdprop</key>
    <string>zero.slasholdprop.glif</string>
  </dict>
</plist>
