<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>one.lintab</key>
    <string>one.lintab.glif</string>
  </dict>
</plist>
