<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>cent.altprop</key>
    <string>cent.altprop.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
