<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_i.alt</key>
    <string>f_i.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>peseta.proportional</key>
    <string>peseta.proportional.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
