<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lira.altprop</key>
    <string>lira.altprop.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>zero.slashlinprop</key>
    <string>zero.slashlinprop.glif</string>
  </dict>
</plist>
