<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Hastrokecyr</key>
    <string>H_astrokecyr.glif</string>
    <key>Kabashkcyr</key>
    <string>K_abashkcyr.glif</string>
    <key>Katailcyr</key>
    <string>K_atailcyr.glif</string>
    <key>Xatailcyr</key>
    <string>X_atailcyr.glif</string>
    <key>Zhetailcyr</key>
    <string>Z_hetailcyr.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis.uc</key>
    <string>dieresis.uc.glif</string>
    <key>katailcyr</key>
    <string>katailcyr.glif</string>
    <key>xatailcyr</key>
    <string>xatailcyr.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
    <key>zhetailcyr</key>
    <string>zhetailcyr.glif</string>
  </dict>
</plist>
