<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>six.den</key>
    <string>six.den.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
  </dict>
</plist>
