<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>El.bgr</key>
    <string>E_l.bgr.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
  </dict>
</plist>
