<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>blackcircle</key>
    <string>blackcircle.glif</string>
    <key>blackdiamond</key>
    <string>blackdiamond.glif</string>
    <key>blackdownpointingtriangle</key>
    <string>blackdownpointingtriangle.glif</string>
    <key>blackleftpointingtriangle</key>
    <string>blackleftpointingtriangle.glif</string>
    <key>blackrightpointingtriangle</key>
    <string>blackrightpointingtriangle.glif</string>
    <key>blacksquare</key>
    <string>blacksquare.glif</string>
    <key>blacktriangle</key>
    <string>blacktriangle.glif</string>
    <key>blackuppointingtriangle</key>
    <string>blackuppointingtriangle.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>heart</key>
    <string>heart.glif</string>
    <key>heartsuitwhite</key>
    <string>heartsuitwhite.glif</string>
    <key>uni25B4</key>
    <string>uni25B_4.glif</string>
    <key>uni25B5</key>
    <string>uni25B_5.glif</string>
    <key>uni25B8</key>
    <string>uni25B_8.glif</string>
    <key>uni25B9</key>
    <string>uni25B_9.glif</string>
    <key>uni25BE</key>
    <string>uni25B_E_.glif</string>
    <key>uni25BF</key>
    <string>uni25B_F_.glif</string>
    <key>uni25C2</key>
    <string>uni25C_2.glif</string>
    <key>uni25C3</key>
    <string>uni25C_3.glif</string>
    <key>whitecircle</key>
    <string>whitecircle.glif</string>
    <key>whitediamond</key>
    <string>whitediamond.glif</string>
    <key>whitedownpointingtriangle</key>
    <string>whitedownpointingtriangle.glif</string>
    <key>whiteleftpointingtriangle</key>
    <string>whiteleftpointingtriangle.glif</string>
    <key>whiterightpointingtriangle</key>
    <string>whiterightpointingtriangle.glif</string>
    <key>whitesquare</key>
    <string>whitesquare.glif</string>
    <key>whitetriangle</key>
    <string>whitetriangle.glif</string>
    <key>whiteuppointingtriangle</key>
    <string>whiteuppointingtriangle.glif</string>
  </dict>
</plist>
