<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>e</key>
    <string>e.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
