<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>acute.ucpl</key>
    <string>acute.ucpl.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.uc</key>
    <string>breve.uc.glif</string>
    <key>breve_acute.uc</key>
    <string>breve_acute.uc.glif</string>
    <key>breve_grave.uc</key>
    <string>breve_grave.uc.glif</string>
    <key>breve_hook</key>
    <string>breve_hook.glif</string>
    <key>breve_hook.uc</key>
    <string>breve_hook.uc.glif</string>
    <key>breve_tilde.uc</key>
    <string>breve_tilde.uc.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex.uc</key>
    <string>circumflex.uc.glif</string>
    <key>circumflex_acute</key>
    <string>circumflex_acute.glif</string>
    <key>circumflex_acute.uc</key>
    <string>circumflex_acute.uc.glif</string>
    <key>circumflex_grave</key>
    <string>circumflex_grave.glif</string>
    <key>circumflex_grave.uc</key>
    <string>circumflex_grave.uc.glif</string>
    <key>circumflex_hook.uc</key>
    <string>circumflex_hook.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>circumflex_tilde.uc</key>
    <string>circumflex_tilde.uc.glif</string>
    <key>currency.proportional</key>
    <string>currency.proportional.glif</string>
    <key>dblgrave</key>
    <string>dblgrave.glif</string>
    <key>dblgrave.uc</key>
    <string>dblgrave.uc.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dong.proportional</key>
    <string>dong.proportional.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.den</key>
    <string>eight.den.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f.alt</key>
    <string>f.alt.glif</string>
    <key>f.short</key>
    <string>f.short.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_h</key>
    <string>f_f_h.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_j</key>
    <string>f_f_j.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_j.alt</key>
    <string>f_j.alt.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hook.uc</key>
    <string>hook.uc.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>liraTurkish.proportional</key>
    <string>liraT_urkish.proportional.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.den</key>
    <string>nine.den.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ring.uc</key>
    <string>ring.uc.glif</string>
    <key>ringhalfleft</key>
    <string>ringhalfleft.glif</string>
    <key>ringhalfright</key>
    <string>ringhalfright.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
