<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>710</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Roboto Serif Project Authors (https://github.com/googlefonts/RobotoSerif)</string>
    <key>descender</key>
    <integer>-223</integer>
    <key>familyName</key>
    <string>Roboto Serif</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>rdxYc4epy4</string>
        <key>x</key>
        <integer>171</integer>
        <key>y</key>
        <integer>732</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>PF6XeZ2WUw</string>
        <key>x</key>
        <integer>406</integer>
        <key>y</key>
        <integer>884</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>eXm6qtLmBe</string>
        <key>x</key>
        <integer>295</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ODJFfHEIl9</string>
        <key>x</key>
        <integer>671</integer>
        <key>y</key>
        <integer>569</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ZsLyR6YSSJ</string>
        <key>x</key>
        <integer>562</integer>
        <key>y</key>
        <integer>474</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>EFKnlSbqqx</string>
        <key>x</key>
        <integer>424</integer>
        <key>y</key>
        <integer>-65</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6XoQUZbrZA</string>
        <key>x</key>
        <integer>559</integer>
        <key>y</key>
        <integer>360</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>sMYGOfZ54t</string>
        <key>x</key>
        <integer>819</integer>
        <key>y</key>
        <integer>79</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>dvYgTqiixV</string>
        <key>x</key>
        <integer>571</integer>
        <key>y</key>
        <integer>274</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>FjO6hf1IDj</string>
        <key>x</key>
        <integer>64</integer>
        <key>y</key>
        <integer>63</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>identifier</key>
        <string>t2ENE9w1Dr</string>
        <key>x</key>
        <integer>642</integer>
        <key>y</key>
        <integer>6</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/04/09 11:17:43</string>
    <key>openTypeHheaAscender</key>
    <integer>927</integer>
    <key>openTypeHheaDescender</key>
    <integer>-244</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Greg Gazdowicz</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Commercial Type</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://www.commercialtype.com/</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>927</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-244</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>COMM</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>3</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1048</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>251</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>569</integer>
      <integer>583</integer>
      <integer>710</integer>
      <integer>730</integer>
      <integer>750</integer>
      <integer>750</integer>
      <integer>787</integer>
      <integer>787</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>569</integer>
      <integer>583</integer>
      <integer>710</integer>
      <integer>730</integer>
      <integer>750</integer>
      <integer>750</integer>
      <integer>787</integer>
      <integer>787</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-236</integer>
      <integer>-223</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>94</integer>
      <integer>85</integer>
      <integer>77</integer>
      <integer>79</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>86</integer>
      <integer>240</integer>
      <integer>90</integer>
      <integer>97</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Grade-1 8pt UltraCondensed Black</string>
    <key>trademark</key>
    <string>Roboto is a registered trademark of Google, Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <integer>518</integer>
  </dict>
</plist>
