<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.alt</key>
    <string>A_E_.alt.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Bhook</key>
    <string>B_hook.glif</string>
    <key>Dhook</key>
    <string>D_hook.glif</string>
    <key>E.alt</key>
    <string>E_.alt.glif</string>
    <key>Ehookabove.alt</key>
    <string>E_hookabove.alt.glif</string>
    <key>Eng.afr</key>
    <string>E_ng.afr.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.proportional</key>
    <string>E_uro.proportional.glif</string>
    <key>F.alt</key>
    <string>F_.alt.glif</string>
    <key>Gecyr</key>
    <string>G_ecyr.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>OE.alt</key>
    <string>O_E_.alt.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Udieresiscaron</key>
    <string>U_dieresiscaron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Yhook</key>
    <string>Y_hook.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.alt</key>
    <string>a.alt.glif</string>
    <key>acute.uc</key>
    <string>acute.uc.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek.alt</key>
    <string>aogonek.alt.glif</string>
    <key>bhook</key>
    <string>bhook.glif</string>
    <key>blackdiamond</key>
    <string>blackdiamond.glif</string>
    <key>blackdownpointingtriangle</key>
    <string>blackdownpointingtriangle.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.uc</key>
    <string>braceleft.uc.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>breveinverted</key>
    <string>breveinverted.glif</string>
    <key>breveinverted.uc</key>
    <string>breveinverted.uc.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.alt</key>
    <string>caroncomb.alt.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cedi.proportional</key>
    <string>cedi.proportional.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cent.alt</key>
    <string>cent.alt.glif</string>
    <key>cent.altprop</key>
    <string>cent.altprop.glif</string>
    <key>cent.proportional</key>
    <string>cent.proportional.glif</string>
    <key>circumflex_acute.uc</key>
    <string>circumflex_acute.uc.glif</string>
    <key>circumflex_grave.uc</key>
    <string>circumflex_grave.uc.glif</string>
    <key>circumflex_tilde</key>
    <string>circumflex_tilde.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dhook</key>
    <string>dhook.glif</string>
    <key>dieresiscaron.uc</key>
    <string>dieresiscaron.uc.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.alt</key>
    <string>dollar.alt.glif</string>
    <key>dollar.altprop</key>
    <string>dollar.altprop.glif</string>
    <key>dollar.proportional</key>
    <string>dollar.proportional.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.linprop</key>
    <string>eight.linprop.glif</string>
    <key>eight.oldprop</key>
    <string>eight.oldprop.glif</string>
    <key>eight.prop</key>
    <string>eight.prop.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f.alt</key>
    <string>f_f.alt.glif</string>
    <key>f_f.short</key>
    <string>f_f.short.glif</string>
    <key>f_f_b</key>
    <string>f_f_b.glif</string>
    <key>f_f_b.alt</key>
    <string>f_f_b.alt.glif</string>
    <key>f_f_h.alt</key>
    <string>f_f_h.alt.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_i.alt</key>
    <string>f_f_i.alt.glif</string>
    <key>f_f_j.alt</key>
    <string>f_f_j.alt.glif</string>
    <key>f_f_k</key>
    <string>f_f_k.glif</string>
    <key>f_f_k.alt</key>
    <string>f_f_k.alt.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_f_l.alt</key>
    <string>f_f_l.alt.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>fi.alt</key>
    <string>fi.alt.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.den</key>
    <string>five.den.glif</string>
    <key>five.lin</key>
    <string>five.lin.glif</string>
    <key>five.linprop</key>
    <string>five.linprop.glif</string>
    <key>five.old</key>
    <string>five.old.glif</string>
    <key>five.oldprop</key>
    <string>five.oldprop.glif</string>
    <key>five.prop</key>
    <string>five.prop.glif</string>
    <key>florin.proportional</key>
    <string>florin.proportional.glif</string>
    <key>four.linprop</key>
    <string>four.linprop.glif</string>
    <key>four.oldprop</key>
    <string>four.oldprop.glif</string>
    <key>four.prop</key>
    <string>four.prop.glif</string>
    <key>franc.proportional</key>
    <string>franc.proportional.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greater.lin</key>
    <string>greater.lin.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guarani.proportional</key>
    <string>guarani.proportional.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.uc</key>
    <string>hungarumlaut.uc.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>khook</key>
    <string>khook.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lira.altprop</key>
    <string>lira.altprop.glif</string>
    <key>lira.proportional</key>
    <string>lira.proportional.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>nine.linprop</key>
    <string>nine.linprop.glif</string>
    <key>nine.oldprop</key>
    <string>nine.oldprop.glif</string>
    <key>nine.prop</key>
    <string>nine.prop.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>one.linprop</key>
    <string>one.linprop.glif</string>
    <key>one.oldprop</key>
    <string>one.oldprop.glif</string>
    <key>one.prop</key>
    <string>one.prop.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>servicemark</key>
    <string>servicemark.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lin</key>
    <string>seven.lin.glif</string>
    <key>seven.linprop</key>
    <string>seven.linprop.glif</string>
    <key>seven.old</key>
    <string>seven.old.glif</string>
    <key>seven.oldprop</key>
    <string>seven.oldprop.glif</string>
    <key>seven.prop</key>
    <string>seven.prop.glif</string>
    <key>six.linprop</key>
    <string>six.linprop.glif</string>
    <key>six.oldprop</key>
    <string>six.oldprop.glif</string>
    <key>six.prop</key>
    <string>six.prop.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.altprop</key>
    <string>sterling.altprop.glif</string>
    <key>sterling.proportional</key>
    <string>sterling.proportional.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.den</key>
    <string>three.den.glif</string>
    <key>three.lin</key>
    <string>three.lin.glif</string>
    <key>three.linprop</key>
    <string>three.linprop.glif</string>
    <key>three.old</key>
    <string>three.old.glif</string>
    <key>three.oldprop</key>
    <string>three.oldprop.glif</string>
    <key>three.prop</key>
    <string>three.prop.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lin</key>
    <string>two.lin.glif</string>
    <key>two.linprop</key>
    <string>two.linprop.glif</string>
    <key>two.old</key>
    <string>two.old.glif</string>
    <key>two.oldprop</key>
    <string>two.oldprop.glif</string>
    <key>two.prop</key>
    <string>two.prop.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>udieresiscaron</key>
    <string>udieresiscaron.glif</string>
    <key>uni20B4</key>
    <string>uni20B_4.glif</string>
    <key>uni20B4.proportional</key>
    <string>uni20B_4.proportional.glif</string>
    <key>uni25B9</key>
    <string>uni25B_9.glif</string>
    <key>uni25BF</key>
    <string>uni25B_F_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>whitedownpointingtriangle</key>
    <string>whitedownpointingtriangle.glif</string>
    <key>whiterightpointingtriangle</key>
    <string>whiterightpointingtriangle.glif</string>
    <key>yhook</key>
    <string>yhook.glif</string>
    <key>zero.linprop</key>
    <string>zero.linprop.glif</string>
    <key>zero.oldprop</key>
    <string>zero.oldprop.glif</string>
    <key>zero.prop</key>
    <string>zero.prop.glif</string>
    <key>zero.slashlintab</key>
    <string>zero.slashlintab.glif</string>
  </dict>
</plist>
